# Notion API
NOTION_TOKEN=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
NOTION_DB_ID_HONTEN=320a7a34-dbe2-8082-8055-c57f9b8a04bb
NOTION_DB_ID_PCA=32fa7a34-dbe2-8005-ab91-ff33d64506e0

# freee API
FREEE_CLIENT_ID=740864584696172
FREEE_CLIENT_SECRET=IIj_jZ1tTpacblsP9hmBAvWfx7f84bfA6OlDTE57eaecLldYTWjCIUs8rb7X627F9nKE4To5C5ByvJgWehTytg
FREEE_COMPANY_ID=1856949

# アプリ設定
APP_BASE_URL=https://your-app-name.up.railway.app
SECRET_KEY=your-secret-key-here
POLL_INTERVAL=300
PORT=5000
TOKEN_FILE=/tmp/freee_token.json
